<div class="top">
<h1> Mario's Food Source </h1>
</div>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no product yet!</p>
<% end %>


<%# <% if current_user && current_user.admin %>
<p><%= link_to "Create a new product!", new_product_path %></p>
<%# <% end %>

<% if Product.most_reviews.any? %>
  <h4>Check out our most reviewed product!</h4>
  <ul>
    <% Product.most_reviews.each do |product| %>
      <li><%= link_to product.name, product_path(product)%></li>
    <% end %>
  </ul>
<% else %>
<p>Write some reviews so we can display our most reviewed product here!</p>
<% end %>

<% if Product.most_recent.any? %>
  <h4>Check out our most recently added items!</h4>
  <ul>
    <% Product.most_recent.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
<p>When we add new products, you'll see the most recently added right here!</p>
<% end %>

<%# <% if current_user || current_user.admin %>
  <p><%= link_to "Return to Home Page", root_path %></p>
<%# <% end %>

