<h1>New Product</h1>

<%= form_for @product do |f| %>
  <%= f.label :Product_Name %>
  <br>
  <%= f.text_field :name %>
  <br>
  <%= f.label :Product_Cost %>
  <br>
  <%= f.text_field :cost %>
  <br>
  <%= f.label :Country_of_Origin %>
  <br>
  <%= f.text_field :origin%>
  <br>
  <%= f.submit %>
<% end %>
  
 