<h1>New Product</h1>

<%= form_for @product do |f| %>
  <%= f.label :Name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :Price %>
  <%= f.text_field :price %>
  <br>
  <%= f.label :Country_of_Origin %>
  <%= f.text_field :origin%>
<% end %>
  
 